TIBCO_OM_PlanFragments.module/Schemas/afi/SharedResources/Schemas/Classes/DiscountModel.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Yuri L Gogolitsyn (TMNS) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by J Lo (Staffware Plc) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:aopd5="http://www.tibco.com/AFF/classes/discountmodel"
	targetNamespace="http://www.tibco.com/AFF/classes/discountmodel" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:complexType name="DiscountItemSpecification">
		<xs:sequence>
			<xs:element name="Discount" type="aopd5:Discount"/>
			<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ItemSpecs" type="aopd5:DiscountItemSpecification" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="characteristics" type="aopd5:DiscountCharacteristic" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Discount" type="aopd5:Discount"/>
	<xs:complexType name="Discount">
		<xs:sequence>
			<xs:element name="productId" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="lastModifiedOn" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DiscountModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Discount" type="aopd5:Discount"/>
				<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="ItemSpecs" type="aopd5:DiscountItemSpecification" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:element name="characteristics" type="aopd5:DiscountCharacteristic" minOccurs="0"
					maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DiscountModels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version" type="xs:string" minOccurs="0"/>
				<xs:element ref="aopd5:DiscountModel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="discountSimpleRule">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="ruleSetOutcome" type="xs:string" minOccurs="0"/>
			<xs:element name="externalRuleset" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DiscountCharacteristic" type="aopd5:DiscountCharacteristic"/>
	<xs:complexType name="DiscountCharacteristic">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="usagecharacteristic" type="xs:string" minOccurs="0"/>
			<xs:element name="discountvalue" type="xs:string" minOccurs="0"/>
			<xs:element name="discountUOM" type="xs:string" minOccurs="0"/>
			<xs:element name="currency" type="xs:string" minOccurs="0"/>
			<xs:element name="discountpriority" type="xs:string" minOccurs="0"/>
			<xs:element name="value" type="aopd5:DiscountValues" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="simpleRule" type="aopd5:discountSimpleRule" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountValues">
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="appliesToQuantity" type="xs:string" minOccurs="0"/>
			<xs:element name="appliesToMaxQuantity" type="xs:string" minOccurs="0"/>
			<xs:element name="includeInventory" type="xs:string" minOccurs="0"/>
			<xs:element name="rangeValue" type="xs:string" minOccurs="0"/>
			<xs:element name="discreteValue" type="xs:string" minOccurs="0"/>
			<xs:element name="mandatoryValue" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
