TIBCO_OM_PlanFragments.module/Schemas/afi/SharedResources/Schemas/Classes/PriceModel.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Yuri L Gogolitsyn (TMNS) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by J Lo (Staffware Plc) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:aopd5="http://www.tibco.com/AFF/classes/pricemodel"
	targetNamespace="http://www.tibco.com/AFF/classes/pricemodel" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:complexType name="PriceItemSpecification">
		<xs:sequence>
			<xs:element name="Price" type="aopd5:Price"/>
			<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ItemSpecs" type="aopd5:PriceItemSpecification" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="characteristics" type="aopd5:PriceCharacteristic" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Price" type="aopd5:Price"/>
	<xs:complexType name="Price">
		<xs:sequence>
			<xs:element name="productId" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="lastModifiedOn" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PriceModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Price" type="aopd5:Price"/>
				<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="ItemSpecs" type="aopd5:PriceItemSpecification" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:element name="characteristics" type="aopd5:PriceCharacteristic" minOccurs="0"
					maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PriceModels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version" type="xs:string" minOccurs="0"/>
				<xs:element ref="aopd5:PriceModel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PriceSimpleRule">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="ruleSetOutcome" type="xs:string" minOccurs="0"/>
			<xs:element name="externalRuleset" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PriceCharacteristic" type="aopd5:PriceCharacteristic"/>
	<xs:complexType name="PriceCharacteristic">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="duration" type="xs:string" minOccurs="0"/>
			<xs:element name="durationUOM" type="xs:string" minOccurs="0"/>
			<xs:element name="chargeValue" type="xs:string" minOccurs="0"/>
			<xs:element name="chargeUOM" type="xs:string" minOccurs="0"/>
			<xs:element name="chargeFrequency" type="xs:string" minOccurs="0"/>
			<xs:element name="chargeFrequencyUOM" type="xs:string" minOccurs="0"/>
			<xs:element name="value" type="aopd5:PriceValues" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="simpleRule" type="aopd5:PriceSimpleRule" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceValues">
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="appliesToQuantity" type="xs:string" minOccurs="0"/>
			<xs:element name="appliesToMaxQuantity" type="xs:string" minOccurs="0"/>
			<xs:element name="includeInventory" type="xs:string" minOccurs="0"/>
			<xs:element name="rangeValue" type="xs:string" minOccurs="0"/>
			<xs:element name="discreteValue" type="xs:string" minOccurs="0"/>
			<xs:element name="mandatoryValue" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
