TIBCO_OM_PlanFragments.module/Schemas/afi/SharedResources/Schemas/Classes/ProductModel.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Yuri L Gogolitsyn (TMNS) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by J Lo (Staffware Plc) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:aopd5="http://www.tibco.com/AFF/classes/productmodel"
	targetNamespace="http://www.tibco.com/AFF/classes/productmodel" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:complexType name="ItemSpecification">
		<xs:sequence>
			<xs:element name="Product" type="aopd5:Product"/>
			<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element ref="aopd5:IncompatibleWithProduct" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="aopd5:DependentOnProduct" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SingleUse" type="xs:boolean"/>
			<xs:element name="MustComplete" type="xs:boolean"/>
			<!-- This node has been depricated from AC1.2-->
			<xs:element name="AffinityGroup" type="aopd5:AffinityGroup" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="ItemSpecs" type="aopd5:ItemSpecification" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="planFragments" type="aopd5:PlanFragment" minOccurs="0"/>
			<xs:element name="characteristics" type="aopd5:Characteristic" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Product" type="aopd5:Product"/>
	<xs:complexType name="Product">
		<xs:sequence>
			<xs:element name="productId" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element minOccurs="0" name="owner" type="xs:string"/>
			<xs:element name="lastModifiedOn" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProductModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Product" type="aopd5:Product"/>
				<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
				<xs:choice>
					<xs:sequence>
						<xs:element name="planFragments" type="aopd5:PlanFragment"/>
						<xs:element name="affinityPlanFragments" type="aopd5:PlanFragment"
							minOccurs="0"/>
						<xs:element name="affinityType" type="xs:string" minOccurs="0"/>
						<xs:element name="affinityCondition" type="xs:string" minOccurs="0"/>
						<xs:element name="affinityCorrelation" type="xs:string" minOccurs="0"/>
						<xs:element name="affinityParentGroup" type="xs:boolean" minOccurs="0"/>
						<xs:element name="affinityActionGroup" type="xs:boolean" minOccurs="0"/>
						<xs:element name="affinityActionValue" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:element name="plan" type="aopd5:Plan" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element name="IncompatibleWithProduct" type="aopd5:Product" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:element name="ItemSpecs" type="aopd5:ItemSpecification" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:element name="characteristics" type="aopd5:Characteristic" minOccurs="0"
					maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IncompatibleWithProduct">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="aopd5:Product"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DependentOnProduct">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="aopd5:Product"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProductModels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version" type="xs:string" minOccurs="0"/>
				<xs:element ref="aopd5:ProductModel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SingleUse">
		<xs:simpleType>
			<xs:restriction base="xs:boolean">
				<xs:pattern value="false" />
   				<xs:pattern value="true" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="planFragmentUniqueId_CEASE">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="planFragmentUniqueId_CANCEL">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="planFragmentUniqueId_PROVIDE">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="planFragmentUniqueId_UPDATE">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="simpleRule">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="ruleSetOutcome" type="xs:string" minOccurs="0"/>
			<xs:element name="externalRuleset" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlanFragment">
		<xs:sequence>
			<xs:element name="planFragmentUniqueId_CANCEL" type="aopd5:planFragmentUniqueId_CANCEL"
				minOccurs="0"/>
			<xs:element name="planFragmentUniqueId_PROVIDE"
				type="aopd5:planFragmentUniqueId_PROVIDE" minOccurs="0"/>
			<xs:element name="planFragmentUniqueId_CEASE" type="aopd5:planFragmentUniqueId_CEASE"
				minOccurs="0"/>
			<xs:element name="planFragmentUniqueId_UPDATE" type="aopd5:planFragmentUniqueId_UPDATE"
				minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Plan">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="action" type="xs:string"/>
			<xs:element name="actionMode" type="xs:string" minOccurs="0"/>
			<xs:element name="affinity" type="xs:boolean"/>
			<xs:element name="affinityType" type="xs:string" minOccurs="0"/>
			<xs:element minOccurs="0" name="affinityCondition" type="xs:string"/>
			<xs:element minOccurs="0" name="affinityCorrelation" type="xs:string"/>
			<xs:element minOccurs="0" name="affinityParentGroup" type="xs:boolean"/>
			<xs:element minOccurs="0" name="affinityActionGroup" type="xs:boolean"/>
			<xs:element minOccurs="0" name="affinityActionValue" type="xs:string"/>
			<xs:element name="milestone" type="aopd5:Milestone" minOccurs="0" maxOccurs="unbounded"
			/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Milestone">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="dependency" type="aopd5:MilestoneDependsOn" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MilestoneDependsOn">
		<xs:sequence>
			<xs:element name="planName" type="xs:string"/>
			<xs:element name="milestoneName" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="condition" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Characteristic" type="aopd5:Characteristic"/>
	<xs:complexType name="Characteristic">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="instanceOptional" type="xs:string" minOccurs="0"/>
			<xs:element name="instanceCeaseSequence" type="xs:string" minOccurs="0"/>
			<xs:element name="instanceUpdateSequence" type="xs:string" minOccurs="0"/>
			<xs:element name="instanceSequence" type="xs:string" minOccurs="0"/>
			<xs:element name="instanceMin" type="xs:int" minOccurs="0"/>
			<xs:element name="instanceMax" type="xs:int" minOccurs="0"/>
			<xs:element minOccurs="0" ref="aopd5:evaluationPriority"/>
			<xs:element minOccurs="0" name="actionID" type="xs:string"/>
			<xs:element minOccurs="0" name="conditional" type="xs:string"/>
			<xs:element name="value" type="aopd5:Values" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="simpleRule" type="aopd5:simpleRule" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Values">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="rangeValue" type="xs:string" minOccurs="0"/>
			<xs:element name="discreteValue" type="xs:string" minOccurs="0"/>
			<xs:element name="mandatoryValue" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AffinityGroup">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="planFragments" type="aopd5:PlanFragment" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="evaluationPriority" type="xs:string"/>
</xs:schema>
