TIBCO_OM_PlanFragments.module/Schemas/aopd/purgeResult.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:purge="http://www.tibco.com/aff/purgeResult"	 
	 targetNamespace="http://www.tibco.com/aff/purgeResult" 
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified" version="1.1">
	<xs:complexType name="PurgeResult">
		<xs:sequence>
			<xs:element name="ProductID" type="xs:string" minOccurs="0"/>
			<xs:element name="Message" type="xs:string" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
